@all

  body
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png")
    font-family: 'Jacques Francois', serif

  a
    color: white

  h1, h2, h3, h4, h5, h6
    font-family: 'Jacques Francois Shadow', serif

  header h1
    margin: 0
    margin-left: 10px
    margin-bottom: -25px
    position: relative
    top: -45px
    font-size: 3rem

  h1 a
    color: black

  h3
    font-size: 2rem

  address
    margin: 0
    margin-top: -115px
    margin-right: 10px
    text-align: right
    font-weight: bold
    font-style: normal
    font-size: larger
    line-height: 22px

  address a
    color: black

  .hero img
    width: 100%
    max-height: 50vh

  .underhead
    margin-top: 4vh

  ul.optn
    justify-content: space-between

  ul.optn li
    color: black
    background-color: whitesmoke
    margin: .5rem
    border: 1px solid grey

  .btn:hover, .btn-large:hover, .btn-small:hover
    background-color: #ffd740

  .nav-wrapper
    text-transform: uppercase
    font-size: larger

  .card
    background-color: rgba(255, 255, 255, 0.3)

  .speaker
    text-align: right

  .share
    display: flex
    flex-direction: row

  .share li
    padding: 0.5em

  .facebook a:hover
    color: #4267B2

  .instagram a:hover
    color: #833AB4

  .email a:hover
    color: gold


@media (min-width: 62em)

    address
      text-align: right
