{% if page.banner_image and page.banner_image != "" %}
	<main>
		<img class="z-depth-2" src="url('{{ page.banner_image | absolute_url }}" alt="">
	</main>
{% endif %}

<h3>
	Services
</h3>

<ul>
	<li class="btn">
		Event Matchmaking
	</li>
	<li class="btn">
		Labor Staffing
	</li>
	<li class="btn">
		Audio
	</li>
	<li class="btn">
		Dance Lighting
	</li>
	<li class="btn">
		Up Lighting
	</li>
	<li class="btn">
		DJ Services
	</li>
	<li class="btn">
		Live Recording
	</li>
	<li class="btn">
		Entertainment Booking
	</li>
</ul>

<h3>
	Event Types
</h3>

<ul>
	<li>
		Weddings
	</li>
	<li>
		Corporate Events
	</li>
	<li>
		Concerts/Festivals
	</li>
	<li>
		Parties/Other Events
	</li>
</ul>
