
	<main>
		<img class="z-depth-2" src="gkingpro/uploads/2020/05/13/cover.jpg" alt="">
	</main>

<div class="container">
	<div class="row">
		<div class="col s12 m4 l2">
			<h3 class="center">
				Services
			</h3>

			<ul>
				<li class="btn-large grey lighten-2">
					Event Matchmaking
				</li>
				<li class="btn-large grey lighten-2">
					Labor Staffing
				</li>
				<li class="btn-large grey lighten-2">
					Audio
				</li>
				<li class="btn-large grey lighten-2">
					Dance Lighting
				</li>
				<li class="btn-large grey lighten-2">
					Up Lighting
				</li>
				<li class="btn-large grey lighten-2">
					DJ Services
				</li>
				<li class="btn-large grey lighten-2">
					Live Recording
				</li>
				<li class="btn-large grey lighten-2">
					Entertainment Booking
				</li>
			</ul>

			<h3 class="center">
				Event Types
			</h3>

			<ul>
				<li class="btn-large grey lighten-2">
					Weddings
				</li>
				<li class="btn-large grey lighten-2">
					Corporate Events
				</li>
				<li class="btn-large grey lighten-2">
					Concerts/Festivals
				</li>
				<li class="btn-large grey lighten-2">
					Parties/Other Events
				</li>
			</ul>
		</div><!-- /cols -->
	</div><!-- /row -->
</div><!-- /container -->
