<header class="site-header">
	<nav>
		<div class="nav-wrapper deep-purple lighten-2">
			<ul class="right">
				<li>
					<a href="/gkingpro">
						Home
					</a>
				</li>
				<li>
					<a href="/gkingpro/about">
						About
					</a>
				</li>
				<li>
					<a href="/gkingpro/packages">
						Packages
					</a>
				</li>
				<li>
					<a href="/gkingpro/services">
						Services
					</a>
				</li>
				<li>
					<a href="/gkingpro/events">
						Events
					</a>
				</li>
				<li>
					<a href="#testimonials">
						Testimonials
					</a>
				</li>
				<li>
					<a href="/gkingpro/contact">
						Contact
					</a>
				</li>
			</ul>
		</div><!-- /nav-wrapper -->
	</nav>
	<ul id="slide-out" class="sidenav">
	<li><div class="user-view">
		<div class="background">
			<img src="images/office.jpg">
		</div>
		<a href="#user"><img class="circle" src="images/yuna.jpg"></a>
		<a href="#name"><span class="white-text name">John Doe</span></a>
		<a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
	</div></li>
	<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
	<li><a href="#!">Second Link</a></li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Subheader</a></li>
	<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		
    <h1>
      <a href="{{ "/" | absolute_url }}">
				<img src="/gkingpro/uploads/2020/05/15/gkinglogo.png" alt="{{ site.title }}">
				{{ site.title }}
			</a>
    </h1>
		<address>
      Maryland, D.C., and Northern Virginia<br>
      &mdash;<br>
      <a href="tel:240-643-0452">240-643-0452</a><br>
      <a href="mailto:booking@gkingpro.com">booking@gkingpro.com</a>
    </address>
</header>
