<header class="site-header">
	<nav>
		<div class="nav-wrapper deep-purple lighten-2">
			<ul class="right">
				<li>
					<a href="/">
						Home
					</a>
				</li>
				<li>
					<a href="/about">
						About
					</a>
				</li>
				<li>
					<a href="">
						Packages
					</a>
				</li>
				<li>
					<a href="">
						Services
					</a>
				</li>
				<li>
					<a href="">
						Events
					</a>
				</li>
				<li>
					<a href="">
						Testimonials
					</a>
				</li>
				<li>
					<a href="/contact">
						Contact
					</a>
				</li>
			</ul>
		</div><!-- /nav-wrapper -->
	</nav>
    <h1>
      <a href="{{ "/" | absolute_url }}">
				<img src="{{ logo }}" alt="{{ site.name }}">
			</a>
    </h1>
		<address>
      Maryland, D.C., and Northern Virginia<br>
      &mdash;<br>
      <a href="tel:240-643-0452">240-643-0452</a><br>
      <a href="mailto:booking@gkingpro.com">booking@gkingpro.com</a>
    </address>
</header>
