<header class="site-header">
	<nav>
		<div class="nav-wrapper deep-purple lighten-2">
			<a href="#" data-target="slide-out" class="sidenav-trigger valign-wrapper right"><i class="fas fa-2x fa-bars"></i></a>
			<ul class="right right hide-on-med-and-down">
				<li>
					<a href="/gkingpro">
						Home
					</a>
				</li>
				<li>
					<a href="/gkingpro/about">
						About
					</a>
				</li>
				<li>
					<a href="/gkingpro/packages">
						Packages
					</a>
				</li>
				<li>
					<a href="/gkingpro/services">
						Services
					</a>
				</li>
				<li>
					<a href="/gkingpro/events">
						Events
					</a>
				</li>
				<li>
					<a href="#testimonials">
						Testimonials
					</a>
				</li>
				<li>
					<a href="/gkingpro/contact">
						Contact
					</a>
				</li>
			</ul>
		</div><!-- /nav-wrapper -->
	</nav>

  <h1>
    <a href="{{ "/" | absolute_url }}">
			<img src="/gkingpro/uploads/2020/05/15/gkinglogo.png" alt="{{ site.title }}">
			<span class="hide-on-med-and-down">
				{{ site.title }}
			</span>
		</a>
  </h1>
	<address>
    Maryland, D.C., and Northern Virginia<br>
    &mdash;<br>
    <a href="tel:240-643-0452">240-643-0452</a><br>
    <a href="mailto:booking@gkingpro.com">booking@gkingpro.com</a>
  </address>
</header>
