---
layout: default
---
{% comment %}
    A general page layout. Used by default for all content on the site.
{% endcomment %}

<div class="container">
  <h1>
    {{ page.title }}
  </h1>
  {{ content }}
  <form action="https://formsubmit.co/booking@gkingpro.com" method="POST">
      <div class="input-field">
        <input id="name" type="text" name="name">
        <label for="name">
          Name
        </label>
      </div>
      <div class="input-field">
        <input id="email" type="email" name="email">
        <label for="email">
          Email
        </label>
      </div>
      <div class="input-field">
        <input id="tel" type="tel" name="tel">
        <label for="tel">
          Phone
        </label>
      </div>
      <button type="submit">Send</button>
  </form>
</div><!-- /container -->
